* {
	margin: 0;
	padding: 0;
}

body {
	background: #000;
	width: auto;
	height: 100%;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	/* font-family: 'Trebuchet MS', Arial, Sans-Serif; */
	font-size: 15px;
	color: #FFF;
	line-height: 1.6em;
    min-width: 940px;
}
a, a:visited {
	/* color: #3a9bc7; */
	color: #FFF;
	text-decoration: none;
    font-weight: bold;
}
a:hover {
	text-decoration: underline;
}

p {
  background-color: #333333;
  padding:50px;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	font-family: Bliss, 'Myriad Pro', 'Trebuchet MS', Arial, Sans-Serif;
	color: #a1c117;
}
h1 a, h2 a, h3 a, h4 a,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited {
	text-decoration: none;
	color: #a1c117;
}
h1 {
	font-size: 1.93em;
	line-height: 1.2em;
	margin: 8px 0 38px 0;
}
h2 {
	font-size: 1.47em;
	line-height: 1.2em;
	margin: 8px 0 15px 0;
}
h3 {
	font-size: 1.20em;
	line-height: 1.2em;
	margin: 8px 0 15px 0;
}
h4 {
	font-size: 1.07em;
	line-height: 1.1em;
	margin: 8px 0 15px 0;
}
h5 {
	font-size: 1.07em;
	line-height: 1.1em;
	margin: 8px 0 15px 0;
}

a img {
	border: 0;
}
ul {
	padding-left: 40px;
}
pre {
	background: #efefef;
	border: 1px solid silver;
	margin: 10px 0;
	padding: 10px;
	font-family: 'Courier New', Courier, monospace;
}

#container {
	width: 100%;
	/*min-width: 900px;*/
	padding-top: 430px;  /* WOUTER */
	position: relative;
}

#logo {
	background: url(../images/spritely_logo.png) 0 0 no-repeat;
	width: 378px;
	height: 121px;
	position: absolute;
	top: 7px;
	left: 30px;
	z-index: 1900;
		text-indent: -9999px;
}

	#logo a {
		/*
			display: block;
			width: 378px;
			height: 121px;
		*/
	}


#playpause {
	background: url(../images/playpause_medium.png) 0 0 no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 30px;
	left: 30px; 
	z-index: 1900;
	text-indent: -9999px; 
	cursor: pointer;
}

.stage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/*min-width: 900px;*/
	height: 430px;
	overflow: hidden;
}
#stage {
	top: 0px;
	left: 0px;
	z-index: 100;
}
#bg {
	background: #aedfe5 url(../images/sky1.png) 0 0 repeat-x;
}
#clouds {
	background: transparent url(../images/cloud.png) 305px 102px repeat-x;
}
#hill2 {
	background: transparent url(../images/hill2.png) 0 258px repeat-x;
}
#hill1 {
	/* background: transparent url(../images/hill-with-windmill.png) 0 104px repeat-x; */
	background: transparent url(../images/KL.png) 0 0px repeat-x;
}
#sprite_up {
	position: absolute;
	top: 40px;
	left: 540px;
	width: 381px;
	height: 54px;
	background: transparent url(../images/sprite-up-the-web-strap.png) top left no-repeat;
}
#dragMe {
	position: absolute;
	top: 360px;
	left: 57%;
	z-index: 150;
	background: url(../images/dragme_text.png) 0 0 no-repeat;
	margin-left: -50px;
	width: 100px;
	height: 65px;
}
#slider {
    display: none;/* show dynamically for non smart-phones or ipad */
	position: relative;
	z-index: 200;
	height: 14px;
	width: 100%;
/*	background: url(../images/slider_bg.png) 0 0; */
}
#slider.ui-corner-all,
#slider .ui-corner-all {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
#slider.ui-widget-content {
/*	background: url(../images/slider_bg.png) 0 0; */
	border: 0;
}
#slider .ui-state-default, #slider.ui-widget-content .ui-state-default {
	background: url(../images/slider_handle.png) 0 0 no-repeat;
	width: 23px;
	height: 30px;
	border: 0;
}
#slider.ui-slider-horizontal .ui-slider-handle  {
	position: absolute;
	top: -9px;
	cursor: pointer;
	outline: none;
	height: 23px;
}

#nav {
	height: 46px;
	background: url(../images/nav_bg.png);
}
#nav ul {
	list-style: none;
	padding-left: 30px;
}
#nav li {
	float: left;
	display: inline;
	height: 45px;
	padding-right: 2px;
	margin-top: 1px;
}
#nav li span {
	float: left;
	display: inline;
	height: 45px;
}
#nav li.active {
	background: url(../images/nav_active.png) right 4px no-repeat;
}
#nav li.active span {
	background: url(../images/nav_active.png) left 4px no-repeat;
}
#nav li a {
	float: left;
	display: inline;
	padding: 0 13px 0 15px;
	background: url(../images/nav_items.png) 15px 15px no-repeat;
	height: 45px;
	width: 45px;
	text-indent: -9999px;
	outline: none;
}
#nav #nav-home a {
	width: 54px;
}
#nav #nav-documentation a {
	width: 164px;
	background-position: -72px 15px;
}
#nav #nav-download a {
	width: 112px;
	background-position: -269px 15px;
}
#nav #nav-gallery a {
	width: 78px;
	background-position: -413px 15px;
}
#nav #nav-tools a {
	width: 60px;
	background-position: -521px 15px;
}
#nav #nav-contact a {
	width: 88px;
	background-position: -615px 15px;
}

#noFlash {
	background: url(../images/noflash_noproblem.png) 0 0 no-repeat;
	width: 165px;
	height: 166px;
	position: absolute;
	top: 236px;
	right: 50px;
	z-index: 1900;
	text-indent: -9999px;
}

#mainContent {
	padding: 40px 30px 30px 30px;
	min-height: 590px;
	height: auto !important;
	height: 590px;
}
#mainContent h1 {
	text-align: -9999px;
	height: 0;
	overflow: hidden;
	margin: 0;
}
.content {
	margin-right: 250px;
/*    display:inline-block; */
}
#sidebar {
	position: absolute;
	top: 520px;
	width: 200px;
	right: 30px;
}

.clickable {
	color: #999;
	font-style: italic;
	padding: 0 1px;
	border-bottom: 1px dotted #999;
}
#bird {
	background: transparent url(../images/bird-forward-back.png) 0 0 no-repeat;
	position: absolute;
	top: 150px;
	left: 65px;
	width: 180px;
	height: 123px;
	z-index: 2000;
	cursor: pointer;
}
#bird2 {
	background: transparent url(../images/bird-forward-back-sm.png) 0 0 no-repeat;
	position: absolute;
	top: 70px;
	left: 155px;
	width: 140px;
	height: 96px;
	z-index: 1800;
	cursor: pointer;
}

.trsp {
	float: left;
	background: transparent url(../images/trsp.jpg);
}

div#copyright {
	width: auto;
	/*background: #eee;
	*/
	padding: 30px;
}
div#copyright, a.copyright, a.copyright:visited {
	color: #888888;
}

#artlogic {
	margin-left: 50px;
}
#artlogic, #artlogic a, #artlogic a span {
	float: right;
	display: inline;
	width: 200px;
	height: 80px;
}
#artlogic a {
	background: url(../images/artlogic_off.png) 0 0 no-repeat;
}
#artlogic a span {
	display: block;
	background: url(../images/artlogic_on.png) 0 0 no-repeat;
	visibility: hidden;
	text-indent: -9999px;
}
#artlogic a:hover span {
	visibility: visible;
}


/* Page specific
------------------------------------------ */

.section-pagenotfound #mainContent h1 {
	height: auto;
	overflow: visible;
	margin: 0 0 15px;
}
.section-pagenotfound #container {
	padding-top: 120px;
}


/* Generic classes
------------------------------------------ */

.imageList .item {
	float: left;
	display: inline;
	width: 184px;
	margin: 0 30px 30px 0;
}
	.imageList .item .image {
		width: 182px;
		height: 122px;
		margin-bottom: 6px;
		border: 1px solid #ccc;
	}
	.imageList .item .image img {
		border: 1px solid #FFF;
	}
	.imageList .item .title a {
		display: block;
		width: 180px;
		white-space: nowrap;
		overflow: hidden;
		font-size: 0.9em;
		line-height: 1.4em;
	}
	.imageList .item .title a,
	.imageList .item .title a:visited {
		color: #474747;
	}
	.imageList .item .date {
		font-size: 0.9em;
		line-height: 1.4em;
		color: #888;
	}

.clear {
	clear: both;
	height: 1px;
	overflow: hidden;
}
.subtitle {
	font-size: 1.2em;
	font-style: italic;
	color: #3a9bc7;
	font-weight: bold;
}
.description {
	margin: 0 0 8px;
}
.divider {
	height: 30px;
	clear: both;
	overflow: hidden;
}

.link {
	font-weight: bold;

}

.form {
	background: #f5f5f5;
	padding: 15px 20px;
	width: 365px;
}
.form .formRow {
	clear: both;
	margin: 0 0 10px 0;

	float: left;
	display: inline;
	clear: none;
	width: 100%;
}
.form .formRow label,
.form .formRow .formLabel {
	float: left;
	display: inline;
	clear: both;
	width: 100%;
	text-align: right;
	text-align: left;
	margin-bottom: 5px;
}
.form .formRow #captcha label {
	font-style: italic;
	font-size: 0.9em;
	padding: 5px 0;
}
.form .formRow .inputField,
.form .formRow textarea,
.form .formRow .captcha_field {
	float: left;
	display: inline;
	clear: both;
	padding: 5px;
	border: 1px solid #aaa;
	font-size: 13px;
	width: 345px;
	font-family: 'Trebuchet MS', Arial, Sans-Serif;
}
.form .formRow textarea {
	height: 150px;
}
.form .formRow .required {
	color: red;
	font-size: 15px;
	margin-left: 5px;
}
.form .formRow #verification {
	width: 223px;
	float: left;
	display: inline;
	background: #eee;
	padding: 15px;
}
.form .formRow .captcha_field {
	float: left;
	display: inline;
	clear: both;
	padding: 5px;
	border: 1px solid #aaa;
	font-size: 13px;
	width: 345px;
	font-family: 'Trebuchet MS', Arial, Sans-Serif;
}
.form .formRow #verification label {
	text-align: left;
	font-size: 11px;
	line-height: 15px;
	width: 200px;
	padding: 6px 0;
}
#errorContainer {
	background: #FFF9CB;
	border: 1px solid #FFE000;
	clear: both;
	color: #DD9700;
	font-weight: bold;
	padding: 10px;
	width: 335px;
	margin-bottom: 10px;
}





/* iphone css */

body.platform-iphone {
	
}
.platform-iphone .hideForIphone {
	display: none;
}
.platform-iphone #container, .platform-iphone .stage {
	width: 320px;
	min-width: 320px;
}

.platform-iphone #logo {
	top: 10px;
	left: 0;
	background: url(../images/spritely_logo_iphone.png) 0 0 no-repeat;
}

.platform-iphone #sprite_up {
	top: 300px;
	left: 0;
	background: url(../images/sprite_up_iphone.png) 0 0 no-repeat;
}

.platform-iphone #noFlash {
	display: none;
} 

.platform-iphone #sidebar {
	position: static;
	padding: 0;
	margin: 0;
}

.platform-iphone div#nav {
	height: auto;
}

.platform-iphone div#nav ul {
	display: block;
	float: none;
	padding: 0;
}

.platform-iphone div#nav ul li {
	float: none;
	display: block;
	width: 100%;
	background: transparent url(../images/nav_bg.png) top left repeat-x;
	padding: 0;
	margin: 0;
}

.platform-iphone div#nav ul li span {
	float: none;
	display: block;
	width: 100%;
}

.platform-iphone div#nav ul li.active span {
	background: none;
	font-weight: bold;
}

.platform-iphone div#nav ul li a {
	float: none;
	display: block;
	width: 100%;
}

.platform-iphone #mainContent h1 {
	clear: both;
	text-align: 0px;
	padding: 0px 0 5px 0;
	margin: 0;
	height: auto;
	overflow: visible;
}

.platform-iphone h2 {
	
}

.platform-iphone #mainContent {
	min-height: 0;
	clear: both;
	padding: 12px;
}

.platform-iphone #content {
	clear: both;
	margin: 10px 0 20px;
	padding: 0;
}

.platform-iphone .divider {
	height: 15px;
}

.platform-iphone #artlogic {
	display: block;
	float: none;
	margin: 0 0 20px;
}
.platform-iphone #copyright {
	margin: 0px;
	padding: 10px;
}

.platform-iphone #slider, .platform-iphone #dragMe {
	display: none;
}

body.pagenotfound {
	background: #fff url(../images/twitter_bg.jpg);
}
#pagenotfound_container {
	margin: 70px 0 0 250px;
}
#pagenotfound_container h1 {
	color: #fff;
}

/* Pagination
----------------------------------------- */

.page_stats {
        padding: 10px 0 0;
        margin: 0 0 10px ;
        clear: both;
        width: 320px;
        float: right;
}
.page_stats .ps_item {
        float: left;
}
.page_stats .disabled, .ps_item.disabled {
        color: silver;
}
.page_stats .ps_item.sep {
        padding: 0 10px;
}
.page_stats .ps_links {
        color: silver;
        float: right;
        display: inline;
}
.page_stats .ps_pages, .page_stats .ps_pages_indented {
        float: left;
}
.page_stats a.ps_previous {
        background: url(/lib/archimedes/images/left_arrow.png) 0 6px no-repeat;
        padding-left: 15px;
        float: left;
        display: inline;
}
.page_stats a.ps_next {
        background: url(/lib/archimedes/images/right_arrow.png) right 6px no-repeat;
        padding-right: 15px;
        float: left;
        display: inline;
}
.page_stats .ps_page_number {
        float: left;
}
.page_stats .ps_pages .left { float: left; display: inline; }

.ps_select_menu {
        float: left;
        margin: 0 3px;
}
